<section fxLayout fxLayoutAlign="center" class="new-training">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises">
          <mat-select placeholder="Choose an exercise" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id"> {{ exercise.name }} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!(isLoading$ | async)" fxLayoutAlign="center">
        <button *ngIf="exercises" mat-flat-button color="primary" type="submit" [disabled]="f.invalid">Start</button>
        <button *ngIf="!exercises" (click)="fetchExercises()" mat-flat-button color="accent" type="submit">
          Fetch Exercises
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
